body,
    html {
      font-family: Arial;
      font-size: 11pt;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 95%;
    }

    p {
      padding: 10px;
    }
    .delivery{
      height: 100%;
      width: 100%;
      display: flex;
    }
    .delivery__calculation {
      flex: 1;
      height: 100%;
    }
    .delivery__map {
      flex: 4;
      height: 100%;
    }