body,
    html {
      font-family: Arial;
      font-size: 11pt;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
}

.delivery{
  height: 100%;
  width: 100%;
  display: flex;
}
.delivery .delivery__calculation {
  flex: 1;
  height: 100%;
  border: 2px solid #eda300;
}
.delivery .delivery__map {
  flex: 3;
  height: 100%;
}
.delivery .delivery__calculation__range {
  margin: 0 auto;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.delivery .delivery__calculation__range .range-car {
  width: 100%;
}

.input {
  display: none;
}
input:checked ~ .radiobutton:before {
background-color: orange;
}

.radiobutton {
  position: relative;
  padding-left: 25px;
}
.radiobutton::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #cacaca;
}