body,
    html {
      font-family: Arial;
      font-size: 11pt;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
}

.delivery{
  height: 100%;
  width: 100%;
  display: flex;
}
.delivery h2 {
  font-size: 32px;
  text-align: center;
  margin-bottom: 30px;
}
.delivery .delivery__calculation {
  flex: 1;
  height: 100%;
  border: 2px solid #eda300;
  flex-direction: column;
  padding: 20px;
}

.delivery .delivery__radio {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}

.delivery .delivery__map {
  flex: 3;
  height: 100%;
}
.delivery .delivery__calculation__range {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 30px;
}
.delivery .delivery__calculation__range .range-value {
  border: 0;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 25px;
}

.delivery .delivery__calculation__range .range-car {
  width: 100%;
}

.input {
  display: none;
}
input:checked ~ .radiobutton:before {
background-color: orange;
}

.radiobutton {
  position: relative;
  padding-left: 25px;
}
.radiobutton::before {
  content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-color: #cacaca;
}